<?xml version="1.0" encoding="UTF8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--核心配置文件-->
<configuration>

    <!--引入外部配置文件-->
    <properties resource="db.properties" >
        <!--外部配置文件高于property-->
        <property name="username" value="root"/>
        <property name="password" value="123456"/>
    </properties>


    
    <!--给实体类添加别名-->
    <typeAliases>
<!--        <typeAlias type="com.xmj.pojo.User" alias="User" />-->
        <package name="com.xmj.pojo"/>
    </typeAliases>

    <!--environments-->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>

        
    </environments>

    <!--每一个Mapper.XML都需要在Mybatis核心配置文件中注册-->
    <mappers>
        <!--<mapper resource="com/xmj/dao/UserMapper.xml" />-->
        <!--<mapper class="com.xmj.dao.UserMapper" />-->
        <package name="com.xmj.dao"/>
    </mappers>

</configuration>