<?xml version="1.0" encoding="UTF8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<!--namespace 绑定一个对应的Dao/mapper接口-->
<mapper namespace="com.xmj.dao.UserDao">
    <!--查询语句 id为方法名-->
    <select id="getUserList" resultType="com.xmj.pojo.User">
        select * from mybatis.user
    </select>
</mapper>